.cart-icon {
  width: 24px;
  height: 24px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.logo-img {
  width: 200px;
  height: 100px;
}

.logo-text-img {
  width: 500px;
}
